* {
     margin: 0;
     padding: 0;
     box-sizing: border-box;
}

body {
     background-color: rgb(178, 231, 255);
}

/* navbar start*/

.navbar {
     display: flex;
     justify-content: space-between;
}

.switch-button,
.add-Employee {
     position: relative;
}



.Employee-list {
     position: absolute;
     top: 5%;
}

.btn>button {
     height: 2.8rem;
     width: 9rem;
     cursor: pointer;
     font-size: 0.8rem;
     font-weight: 800;
     border: none;
     border-radius: 2rem;
     margin-top: 0.2rem;
     background-color: rgb(138, 208, 248);
}

/* navbar end */

/* container start */

.container {
     display: flex;
}

.wrapper h1 {
     color: rgb(0, 79, 224);
     border-bottom: 3px solid rgb(255, 34, 137);
     font-size: 3rem;
}

.search-container {
     display: flex;
     justify-content: space-evenly;
     margin-left: 1.5rem;
}

.search-container>input {
     height: 2.6rem;
     width: 11rem;
     border-radius: 1rem 0rem 0rem 1rem;
     border: none;
     padding-left: 0.5rem;
     margin-top: 0.5rem;
}

#searchBtn {
     height: 2.6rem;
     width: 2.6rem;
     border-radius: 0rem 1rem 1rem 0rem;
     border: none;
     margin-top: 0.5rem;
     background-color: rgb(130, 210, 247);
}

#refersh {
     margin: 0rem 0.2rem 0rem 0.9rem;
     height: 2.6rem;
     width: 4rem;
     font-size: 0.7rem;
     font-weight: 800;
     border-radius: 0.9rem;
     cursor: pointer;
     background-color: rgb(130, 210, 247);
     border: none;
     margin-top: 0.5rem;
}


/* All Content Container */

.add-Employee-details-container {
     height: 100vh;
     width: 140%;
     display: flex;
     flex-direction: column;
     justify-content: center;
     align-items: center;
     gap: 1.8rem;
}


.form {
     display: flex;
     flex-direction: column;
     gap: 0.5rem;
}

.form>label {
     font-size: 22px;
     font-weight: 800;
}

.form>input {
     height: 2.5rem;
     width: 28rem;
     border: none;
     border-radius: 6px;
     padding: 0.3rem;
     font-size: 0.9rem;
     font-weight: 550;
}

.add-Employee-details-container>button {
     height: 2.8rem;
     width: 28rem;
     cursor: pointer;
     font-size: 1rem;
     font-weight: 800;
     border: none;
     border-radius: 2rem;
     margin-top: 0.2rem;
     background-color: rgb(255, 115, 0)
}


/*  Employee List */

.employee-list {
     display: flex;
     flex-direction: column;
     justify-content: center;
     align-items: center;
     gap: 2rem;
     margin-left: 8rem;

}

.employee-list>div {
     overflow-x: auto;
     width: 1080px;
}


table {
     border: 5px solid rgb(0, 0, 0);
     border-collapse: collapse;
     width: 100%;
}


th,
td {
     border: 2px solid rgb(0, 0, 0);
     border-collapse: collapse;
     margin: 0.2rem;
     padding: 0.5rem;
     text-align: center;
     font-size: 1.2rem;
}


.table-row-button {
     border: none;
     height: 1.7rem;
     width: 3.5rem;
     font-size: 0.7rem;
     font-weight: 800;
     border-radius: 0.5rem;
     background-color: rgb(22, 0, 86);
     color: white;
     cursor: pointer;
}


.active {
     display: none;
}


/* Responsive */
/* 
@media screen and (max-width: 400px) {
     .form > input{
          height: 2rem;
          width: 20rem;
     }

     .switch-button{
          gap:4.5rem;
     }

     navbar > h1{
          font-size: 20px;
     } 

     .switch-button > button{
          height: 2rem;
          width: 7rem;
          font-size: 11px;
     }   

     
     #refersh{
          margin-left: 3rem;
     }

     .employee-list > div{
          width: 350px;
     }

     table, th, td {
          font-size: 0.5rem;
     }

     .table-row-button{
          height: 0.7rem;
          width: 1.5rem;
          font-size: 0.2rem;
     }
} */